BlockKinds.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="index">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" name="block">
          <xs:complexType>
            <xs:sequence minOccurs="1">
              <xs:element minOccurs="0" name="module">
                <xs:complexType>
                  <xs:attribute name="id" type="xs:unsignedInt" use="required" />
                  <xs:attribute name="name" type="xs:string" use="required" />
                </xs:complexType>
              </xs:element>
              <xs:element minOccurs="1" maxOccurs="unbounded" name="modification">
                <xs:complexType>
                  <xs:attribute name="id" type="xs:unsignedInt" use="required" />
                  <xs:attribute name="name" type="xs:string" use="required" />
                  <xs:attribute name="device" type="xs:string" use="required" />
                </xs:complexType>
              </xs:element>
            </xs:sequence>
            <xs:attribute name="id" type="xs:unsignedInt" use="required" />
            <xs:attribute name="name" type="xs:string" use="required" />
            <xs:attribute name="channels" type="xs:unsignedByte" use="required" />
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>