BlockKinds.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">

  <xs:complexType name="Modification">
    <xs:attribute name="id" type="xs:unsignedByte" use="required" />
    <xs:attribute name="name" type="xs:string" use="required" />
    <xs:attribute name="device" type="xs:string" use="required" />

    <xs:attribute name="config" type="xs:string" use="optional" />
    <xs:attribute name="board" type="xs:string" use="optional" />
    <xs:attribute name="unichannel" type="xs:boolean" use="optional" default="false" />
  </xs:complexType>

  <xs:complexType name="Module">
    <xs:attribute name="id" type="xs:unsignedByte" use="required" />
    <xs:attribute name="name" type="xs:string" use="required" />
  </xs:complexType>

  <xs:element name="index">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" name="block">
          <xs:complexType>
            <xs:sequence>
              <xs:element minOccurs="1" maxOccurs="unbounded" name="modification" type="Modification" />
              <xs:element minOccurs="0" maxOccurs="unbounded" name="module" type="Module" />
            </xs:sequence>
            <xs:attribute name="id" type="xs:unsignedShort" use="required" />
            <xs:attribute name="name" type="xs:string" use="required" />
            <xs:attribute name="channels" type="xs:unsignedByte" use="required" />
          </xs:complexType>
          <xs:unique name="UniqueModuleId">
            <xs:selector xpath="module" />
            <xs:field xpath="@id" />
          </xs:unique>
          <xs:unique name="UniqueModificationId">
            <xs:selector xpath="modification" />
            <xs:field xpath="@id" />
          </xs:unique>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
    <xs:unique name="UniqueBlockId">
      <xs:selector xpath="block" />
      <xs:field xpath="@id" />
    </xs:unique>
  </xs:element>
</xs:schema>