FirmwarePacking.Repositories.Remote/Service References/SautRepoApi/SfpRepositoryService3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://repo/Api/SfpRepositoryService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/SautRepo.Api" />
  <xs:element name="GetCompositeTypes">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CellId" type="xs:int" />
        <xs:element minOccurs="0" name="ModuleId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCompositeTypesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/SautRepo.Api" minOccurs="0" name="GetCompositeTypesResult" nillable="true" type="q1:ArrayOfPackageDescription" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>